@model IEnumerable<DemoProject.Models.MyAdvertiseModel>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong>@TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="SearchItem" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.advertiseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productSubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertiseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertiseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertisePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertiseStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.advertiseapproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageData)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="SearchItem">
    <td>
        @Html.DisplayFor(modelItem => item.advertiseId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productSubCategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.advertiseTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.advertiseDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.advertisePrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.areaName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.advertiseStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.advertiseapproved)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.createdOn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.updatedOn)
    </td>
    <td>
        @if (item.imageData != null && item.imageData.Length > 0)
        {
            var base64Image = Convert.ToBase64String(item.imageData);
            <img src="data:image/png;base64, @base64Image" alt="Image" style="height:100px; width:100px " />
        }
    </td>
    <td>
          <div style="display: flex; align-items: center; margin-right: 10px;">
            @Html.ActionLink("Edit", "Edit", "Home", new { id = item.advertiseId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("View", "Details", "Home", new { advertiseId = item.advertiseId }, new { @class = "btn btn-info" })

            @Html.ActionLink("Delete", "Delete", "Home", new { id = item.advertiseId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this record?');" })
</div>
    </td>
</tr>
    }

    
</table>
<style>
    <style >
    .button-group {
        display: inline-block;
        margin-right: 10px; /* Adjust the margin as needed */
    }
</style></style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
$(document).ready(function () {

function Contains(text_one, text_two) {
if (text_one.indexOf(text_two) != -1)
return true;
}
$("#SearchItem").keyup(function () {

var searchText = $("#SearchItem").val().toLowerCase();
$(".SearchItem").each(function () {

if (!Contains($(this).text().toLowerCase(), searchText)) {
$(this).hide();
}
else {
$(this).show();
}

});

});

});
</script>